body {
    font-size: 16px;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 32px;
}

.intro,
.home-content,
.recipe-content,
.resources-content {
    overflow: auto;
}

.image,
.description,
.recipe-list,
.ingredients,
.instructions {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 32px;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.recipe-info {
    text-align: center;
    padding: 24px;
}

.resource-section {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 32px;
}

.converter-content {
    padding: 32px;
}

#converter-form {
    width: 100%;
}

#amount {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.unit-options {
    box-sizing: border-box;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 16px;
    margin-left: 0;
}

.unit-options label {
    display: block;
}

#converter-form button {
    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.call-to-action {
    padding: 32px;
}

main {
    min-height: 70vh;
}

footer {
    text-align: center;
    padding: 16px;
}

@media screen and (max-width: 600px) {

    .image,
    .description,
    .recipe-list,
    .ingredients,
    .instructions,
    .resource-section {
        float: none;
        width: 100%;
    }

    nav a {
        display: inline-block;
        padding: 15px;
    }
}